[submodule "temp1"]
	path = temp1
	url = D:/temp1
	branch = master
[submodule "temp2"]
	path = temp2
	url = D:/temp2
	branch = master
[submodule "temp3"]
	path = temp3
	url = D:/temp3
	branch = master
